{% extends 'base.html' %}

{% block title %}Change Password -Micro Ab Technology{% endblock %}

{% block content %}
    <center>
        <h1>Change Password</h1> <hr/>
        {% if warning_mes %}
            <strong class="alert alert-warning">{{ warning_mes }}</strong> 
        {% endif %}

        {% if success_mes %}
            <strong class="alert alert-success">{{ success_mes }}</strong> 
        {% endif %}
        <div class="table-responsive">
            <table width='380px' height="100px" align="center">
                <form method="post" name="change_password" action="{% url 'change-password' %}">
                    {% csrf_token %}
                    <tr>
                        <div class="form-group">
                            <td><label for="password">Old Password: </label></td>
                            <td><input type="password" class="form-control" id="password" name="old_password"></td>
                        </div>
                    </tr>

                    <tr>
                        <div class="form-group">
                            <td><label for="password">New Password: </label></td>
                            <td><input type="password" class="form-control" id="password" name="new_password"></td>
                        </div>
                    </tr>
                    
                    <tr>
                        <div class="form-group">
                            <td><label for="cpassword">Confirm New Password: </label></td>
                            <td><input type="password" class="form-control" id="cpassword" name="cnew_password"></td>
                        </div>
                    </tr>
                    
                    <tr>
                        <td><button type="submit" class="btn btn-primary btn-lg">Change Passowrd</button></td>
                    </tr>
                </form>
            </table>
        </div>
    </center>


{% endblock %}