{% extends 'base.html' %}

{% block title %}Verify OTP -Micro Ab Technology{% endblock %}

{% block content %}
    <center>
        <h1>Verify OTP</h1> <hr/>
        {% if warning_mes %}
            <strong class="alert alert-warning">{{ warning_mes }}</strong> 
        {% endif %}

        {% if success_mes %}
            <strong class="alert alert-success">{{ success_mes }}</strong> 
        {% endif %}

        <div class="table-responsive">
            <table width='380px' height="100px" align="center">
                <form method="post" name="verify-otp" action="{% url 'verify-otp' %}">
                    {% csrf_token %}
                    <tr>
                        <td><input type="hidden" name="email" value="{{ email }}"></td>
                        <td><input type="hidden" name="cotp" value="{{ otp }}"></td>
                    </tr>

                    <tr>
                        <div class="form-group">
                            <td><label for="otp">OTP: </label></td>
                            <td><input type="number" class="form-control" id="otp" name="otp"></td>
                        </div>
                    </tr>

                    <tr>
                        <td><button type="submit" style="width: 150px;" class="btn btn-primary btn-lg">Verify OTP</button></td>
                    </tr>
                </form>
            </table>
        </div>
    </center>


{% endblock %}